<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name= 'author' content="Seth Martin">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name = 'description' content= ' Monomuse website redesign project'>
    <link rel="stylesheet" href="../static/style/style.css">
    <script src="../static/style/script.js"></script>

    <title>Monomuse</title>

</head>
<body onload="addYear()"></body>
<body>
    <div class="container">
    <header class="header">
    <h1>Exhibitions</h1>
    </header>

   <nav class="nav_bar" id="myNav">
    <a href="../index.html">Home</a>
    <a href="explore.html">Explore</a>
    <a href="tickets.html">Buy Tickets</a>
    <a href="javascript:void(0);" class="icon" onclick="toggleNav()">☰</a>
    </nav>
    <main class="main">
    <h2> Exhibitions 1: Brimstone by Callie Hart
    </h2>
    <img src="../static/images/Untitled.png" alt="Brimstone: Callie Hart Exhibition" width="460" height="360">
    <p>Brimstone is a multimedia exhibition by artist Callie Hart that explores themes of transformation, identity, and the human experience through a blend of sculpture, video, and interactive installations. The exhibition invites visitors to immerse themselves in a world where the boundaries between reality and imagination blur, encouraging reflection on the complexities of self-discovery and personal growth.</p>
    <h2> Exhibitions 2: Alchemised by SenLin Yu</h2>
    <img src="../static/images/51IrMtF6fzL._SL240_CATL,225,225_RO112,1,0,0,0,0,0,0,8_.png" alt="Cover: Alchemised by SenLin Yu" width="240" height="360">
    <p>Once a promising alchemist, Helena Marino is now a prisoner — of war and of her own fractured mind. Her captor, Commander Kaine Ferron, is determined to unearth the secrets buried deep within her transmuted memory. Gripping, gothic, and emotionally devastating.</p>
    </div>
   </div>
    </main>

    <footer class="footer">
    <p id="copyYear"></p>
    </footer>   
    
    <article>
    </article>
    </div>
</body>
</html>