<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Seth Martin">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="Monomuse website redesign project">
    <link rel="stylesheet" href="../static/style/style.css">
    <script src="../static/style/script.js"></script>

    <title>Explore MonoMuse!</title>
</head>
<body onload="addYear()"></body>
<body>
    <div class="container">
    <header class="header">
      <h1>Explore Monomuse</h1>
    </header>

    <nav class="nav_bar" id="myNav">
    <a href="../index.html">Home</a>
    <a href="exhibitions.html">Exhibitions</a>
    <a href="tickets.html">Buy Tickets</a>
    <a href="javascript:void(0);" class="icon" onclick="toggleNav()">☰</a>
    </nav>

    <main class="main">
      <h2>Welcome to Monomuse Museum!</h2>

      <p>Monomuse is a museum dedicated to famous books and works. We have all types of books and strive to ensure no book gets left behind. As you explore, you'll find titles you've never seen before.</p>
      <h2> </h2>

      <figure>
        <img src="../static/images/e6b0f95d-719e-4db8-bdc6-6164a6b8b8d0.png" alt="Inside of Monomuse" width="460" height="360">
      </figure>
      <h2>Virtual Museum Tour</h2>

<div class="video-wrapper">
    <div class="video-wrapper">
    <iframe
        src="https://www.youtube.com/embed/JB60APCE_Lg"
        title="Virtual Museum Tour"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
</div>

      <h2>Mission Statement</h2>
      <p>At Monomuse, our mission is to celebrate the written word by preserving, showcasing, and sharing the world's most remarkable books and literary works — ensuring every story, no matter how rare or forgotten, finds its audience.</p>
      <h2>Milestones</h2>
      <ul>
        <li>1990: Monomuse founded by a group of book enthusiasts with a vision to create a unique museum experience.</li>
        <li>2020: Monomuse founded with a collection of 10,000 books.</li>
        <li>2021: First public exhibition, "The Lost Classics," attracts 50,000 visitors.</li>
        <li>2022: Launch of the "Rare Reads" digital archive, making 5,000 rare books accessible online.</li>
        <li>2023: Partnership with local schools to promote literacy and book appreciation among students.</li>
      </ul>
  
    </main>

    <article>
      <p></p>
    </article>

     <footer class="footer">
        <p id="copyYear"></p>
    </footer>
    </div>
</body>
</html>