<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name= 'author' content="Seth Martin">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name = 'description' content= ' Monomuse website redesign project'>

    <title>Monomuse</title>
</head>
<body>
    <header>
    <h1>Exhibitions</h1>
    <nav>
    <a href="index.html">Home</a>
    <a href="views/explore.html">Explore</a>
    <a href="views/exhibitions.html">Exhibitions</a>
    <a href="views/tickets.html">Buy Tickets</a>
    <a href="views/checkout.html">Checkout</a>
    </nav>
    </header>
    <div class="main">
    <h2> Exhibitions 1: Brimstone: Callie Hart
    </h2>
    <img src="../static/images/Untitled.png" alt="Brimstone: Callie Hart Exhibition" width="460" height="360">
    <p>Brimstone is a multimedia exhibition by artist Callie Hart that explores themes of transformation, identity, and the human experience through a blend of sculpture, video, and interactive installations. The exhibition invites visitors to immerse themselves in a world where the boundaries between reality and imagination blur, encouraging reflection on the complexities of self-discovery and personal growth.</p>
    <h2> Exhibitions 2: Exhibitions 2: Alechmized: SenLin Yu</h2>
    <img src="../static/images/51IrMtF6fzL._SL240_CATL,225,225_RO112,1,0,0,0,0,0,0,8_.png" alt="Cover: Alchemised by SenLin Yu" width="240" height="360">
    <p>Once a promising alchemist, Helena Marino is now a prisoner — of war and of her own fractured mind. Her captor, Commander Kaine Ferron, is determined to unearth the secrets buried deep within her transmuted memory. Gripping, gothic, and emotionally devastating.</p>
    </div>
    <h2> Buy Tickets!</h2>
    </div>
    
    <article>
    <p>welcome to my first page my name is seth martin and im lowkey the goat</p>
    </article>
</body>
</html>
