<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name= 'author' content="Seth Martin">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name = 'description' content= ' Monomuse website redesign project'>

    <title>Monomuse</title>
</head>
<body>
    <header>
    <h1>Monomuse</h1>
    <nav>
    <a href="index.html">Home</a>
    <a href="views/explore.html">Explore</a>
    <a href="views/exhibitions.html">Exhibitions</a>
    <a href="views/tickets.html">Buy Tickets</a>
    <a href="views/checkout.html">Checkout</a>
    </nav>
    </header>
    <div class="main">
    <h2> "Welcome to Monomuse Museum!
        MonoMuse is a contemporary museum dedicated to exploring the intersection of art, technology, and human creativity. Through immersive exhibitions, interactive installations, and rotating collections, MonoMuse invites visitors to discover how digital innovation is transforming the way we create, experience, and understand art. Whether you are a first-time visitor or a returning member, our exhibitions offer new perspectives on the role of technology in culture and everyday life. Plan your visit to experience cutting-edge exhibitions, hands-on experiences, and events designed to inspire curiosity and creativity.

    </h2> 
    <h2> Buy Tickets!</h2>
    </div>
    
    <article>
    <p>welcome to my first page my name is seth martin and im lowkey the goat</p>
    </article>
</body>
</html>
